<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"></h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/Work.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Work.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/Student.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Student.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/Teachers.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Teachers.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">.</p>
                    </div>
                </div>
            </li>
            <!--
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"> .</p>
                    </div>
                </div>
            </li>-->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        
                        <br />
                        
                        <br />
                        
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>